{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
<h1 id="header-home">My SITE</h1>
{% endblock %}

{% block content %}
    {% for elem in article %}
        <img src="media/{{elem.image}}">
        <h1 style="color: white">{{elem.title}}</h1><br>
        <p style="color: yellow">{{elem.content}}</p>
        <a href="{{elem.url}}"></a>
        <h2 style="color: red">{{elem.slug}}</h2>
        <br><br>
    {% endfor %}
{% endblock %}

{% block aside %}
<ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Add</a></li>
    <li><a href="#">YouTube</a></li>
</ul>
{% endblock %}

{% block footer %}
<a href="#">Lorem ipsum dolor sit amet</a>
{% endblock %}