{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
<h1 id="header-home">My SITE</h1>
{% endblock %}

{% block content %}
    {% for elem, size in combined_data %}
        <div class="article-content">
            <img src="media/{{elem.image}}" width="{{ size.0 }}" height="{{ size.1 }}">
            <h1>{{elem.title}}</h1><br>
            <p>{{elem.content | truncatewords:60}}</p>
<!--        <a href="{{elem.url}}"></a>-->
<!--        <h2>{{elem.slug}}</h2>-->
            <br><br>
        </div>
    {% endfor %}
{% endblock %}

{% block aside %}
<ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Add</a></li>
    <li><a href="#">YouTube</a></li>
</ul>
{% endblock %}

{% block footer %}
    <a href="{% url 'lorem' %}">Lorem ipsum dolor sit amet</a>
{% endblock %}